@font-face {
    font-family: MainFont;
    src: url(Fonts/horizon.otf);
}

@font-face {
    font-family: BusinessFont;
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

h1 {
    color: #ffffff;
}

header {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    ;
}
.logo {
    max-height: 8vh;
    max-width: auto;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
}

section {
    height: 100vh;
}

.one {
    padding: 0.1vh;
    background-color: #000000;
}

.unavtext {

    margin-top: 10vh;
    font-family: MainFont;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.unavtext h1 {
  text-align: center;
  padding: 20px;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

.unavsocials {
    font-family: MainFont;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.unavsocials h2 {
    text-align: center;
    padding: 20px;
    font-size: clamp(1rem, 2.5vw, 2rem);
}

.unavlogos {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.unavlogos img {
    max-height: auto;
    max-width: 5vh;
    margin: 0 1vh;
}

footer {
    font-family: BusinessFont;
    border-top: 0.2vh solid #ffffff;
    background-color: #000000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 5vh;
    position: relative;
    bottom: 0;
}

footer p {
    margin-top: 2vh;
}

.emailcontactfooter {
    border: 0.2vh solid #ffffff;
    padding: 2vh;

    
}

.emailcontactfooter p{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;    /* Still has to be made responsive */
}

.copy-text:hover {
    cursor: pointer;
    color: rgb(196, 196, 196);
}