@font-face {
  font-family: MainFont;
  src: url(Fonts/horizon.otf);
}

@font-face {
  font-family: BusinessFont;
  src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

h1 {
  color: #fff;
}

header {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0.3vh 0.7vh rgba(0, 0, 0, 0.6);
}

.logo {
  max-height: 8vh;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}

section {
  height: 100vh;
}

.one {
  padding: 0.1vh;
  background-color: #000;
}

.unavtext {
  margin-top: 10vh;
  font-family: MainFont;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.unavtext h1 {
  text-align: center;
  padding: 2vh;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

.unavsocials {
  font-family: MainFont;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.unavsocials h2 {
  text-align: center;
  padding: 2vh;
  font-size: clamp(1rem, 2.5vw, 2rem);
}

.unavlogos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unavlogos img {
  width: 6vh;
  margin: 2vh 1vh;
}

.unavparagraph {
  margin: 10vw 10vh;
  border: 0.1vh solid #fff;
  border-radius: 5vw;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.unavparagraph h3 {
  font-family: MainFont;
  text-align: center;
  padding: 1vh;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.unavparagraph p {
  text-align: center;
  padding: 2vh;
  font-family: BusinessFont;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}

footer {
  font-family: BusinessFont;
  border-top: 0.2vh solid #fff;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 5vh;
  position: relative;
  bottom: 0;
}

footer p {
  margin-top: 2vh;
}

.emailcontactfooter {
  border: 0.2vh solid #fff;
  padding: 2vh;
}

.emailcontactfooter p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.8rem, 1.3vw, 1.1rem);
}

.copy-text:hover {
  cursor: pointer;
  color: #c4c4c4;
}


.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: clamp(4rem, 2vw, 8rem); /* spacing between buttons */
}

.glass-btn {
  margin-top: 2vh;
  width: clamp(3rem, 5vw, 6rem);
  height: clamp(3rem, 5vw, 6rem);
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: clamp(0.5rem, 1vw, 1rem);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* baseline */
}

.glass-btn:hover {
  background-color: #111;
  transform: translateY(-5px);
  box-shadow: 0 0 clamp(1rem, 2vw, 3rem) rgba(255, 255, 255, 0.5);
}

.glass-btn.blue-btn {
  box-shadow: 0 2vh 2vh -1.7vh rgba(216, 216, 216, 0.53);
}

.glass-btn.blue-btn:hover {
  box-shadow: 0 2vh 3.5vh -1.6vh rgba(216, 216, 216, 0.53);
}

.glass-btn.red-btn {
  box-shadow: 0 2vh 2vh -1.7vh rgba(216, 216, 216, 0.53);
}

.glass-btn.red-btn:hover {
  box-shadow: 0 2vh 3.5vh -1.6vh rgba(216, 216, 216, 0.53);
}

.glass-btn:hover {
  background-color: #111;
  transform: translateY(-0.5vh);
}

.glass-btn img {
  width: 5.5vh;
  transition: filter 0.3s ease;
}

.glass-btn.blue-btn img {
  filter: drop-shadow(0 0 2vh rgba(255, 255, 255, 1))
          drop-shadow(0 0 4vh rgba(255, 255, 255, 0.6));
}

.glass-btn.red-btn img {
  filter: drop-shadow(0 0 2vh rgba(255, 255, 255, 1))
          drop-shadow(0 0 4vh rgba(255, 255, 255, 0.6));
}

.glass-btn:hover img {
  filter: drop-shadow(0 0 2vh rgba(255, 255, 255, 5))
          drop-shadow(0 0 4vh rgba(255, 255, 255, 5));
}